body {
    background-image: url('background.svg');
    background-position: center;
  }


  img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
  
  @media (max-width: 767px) {
    img {
      max-width: 300px;
    }
  }